<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>
<div id="top"><span style="color:red" th:text="${session.errors}"></span></div>
<form action="" th:action="@{/stu/add}" method="POST" th:object="${student}">
    <input type="hidden" name="id">
    名称：<br>
    <input type="text" name="name">
    <br>
    性别：<br>
    <input type="radio" name="gender" value="1">男
    <input type="radio" name="gender" value="0">女
    <br>
    年龄：<br>
    <input type="text" name="age" >
    <br>
    出生日期(输入格式:2020-01-01)：<br>
    <input type="text" name="birthday" >
    <br>
    备注：<br>
    <input type="text" name="remarks" >
    <br>
    <input type="submit" value="提交" >
</form>
<a th:href="@{/stu}">返回首页</a>
</body>
</html>