<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
</head>
<body>
<form action="" th:action="@{/stu/update}" method="POST" th:object="${student}">
    ID：<br>
    <input type="" name="id" readonly="readonly" th:value="*{id}">
    <br>
    名称：<br>
    <input type="text" name="name" th:value="*{name}">
    <br>
    性别：<br>
    <input type="text" name="gender" th:value="*{gender}">
    <br>
    年龄：<br>
    <input type="text" name="age" th:value="*{age}">
    <br>
    出生日期：<br>
    <input type="text" name="birthday" th:value="*{#dates.format(birthday, 'yyyy-MM-dd')}">
    <br>
    备注：<br>
    <input type="text" name="remarks" th:value="*{remarks}">
    <br>
    <input type="submit" value="提交" >
</form>
<a th:href="@{/stu}">返回首页</a>
</body>
</html>